.homeContainer {
  width: 100dvw;
  height: auto;
  overflow-x: hidden;
}


.heroSection {
  background-image: url("../../assets/images/hero-banner.jpg");
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-position: center;
  text-align: center;
}


.heroSection>h1 {
  font-size: 80px;
  color: #ffffff;
  margin-bottom: 10px;
  font-weight: bolder;
}


.heroSection div:nth-child(3) p {
  font-size: 18px;
  max-width: 800px;
  margin: 0 auto 2rem;
  color: #ffffff;
  line-height: 1.6;
}


.gradienTextBorder {
  background-color: aqua;
}

.remarkable {
  background: linear-gradient(90deg, #0d246a 0%, #379ebe 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  display: inline-block;
  border-radius: 12px;
  -webkit-text-stroke: 1px #ffffff;
  text-stroke: 1px #ffffff;
  font-size: 90px;
  font-weight: bolder;
}

.heroSection>div:last-child {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}


.heroSection>div:last-child div {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 12px 28px;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.getStarted {
  background: linear-gradient(90deg, #0d246a 0%, #379ebe 80%);
  color: #ffffff;
  border: 2px solid white;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 15px;
  border-radius: 30px;
  gap: 10px;
  cursor: pointer;
}

.getStarted:hover {
  background-image: linear-gradient(270deg, #0e266b 0%, #379ebe 100%);
}


.heroSection>div:last-child div:first-child {
  background: linear-gradient(90deg, #0d246a 0%, #379ebe 80%);
  color: #ffffff;
  border: 2px solid white;
}

.HeroButton {
  display: flex;
  flex-direction: row;
  gap: 20px;
}


.heroSection>div:last-child div:last-child {
  border: 2px solid #ffffff;
  color: #ffffff;
}

.viewWork {
  background-color: #1a3842;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 10px 10px;
  border-radius: 30px;
  gap: 10px;
  color: #ffffff;
  width: 200px;
  cursor: pointer;
}

.viewWork:hover {
  background: linear-gradient(90deg, #0d246a 0%, #379ebe 80%);

}

.HeroFooter {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 5em;
  margin-top: 30px;
}

.heroText {
  font-size: 60px;
  font-weight: 700;
  color: #49d6f2;
}

.HeroFooterBox {
  display: flex;
  flex-direction: column;
}

.HeroFooterBox p {
  color: white;
}

.heroFottertext {
  font-size: 20px;
  color: white;
  margin-top: 20px;
  font-weight: 600;
}

.heroFottertext strong {
  opacity: 0.8;
}